.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: -8px;
    height: 120px;
    color: grey;
    .footer-right {
        font-size: 21px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 356px;
        b {
            font-weight: 700;
        }
    }
}